<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.railway.labor.career.mapper.CareerInfoMapper">

	<resultMap id="BaseResultMap" type="com.railway.labor.career.model.dto.CareerInfoDTO">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="employee_id" property="employeeId" jdbcType="BIGINT" />
		<result column="type_of_work" property="typeOfWork" jdbcType="VARCHAR" />
		<result column="sequence_old" property="sequenceOld" jdbcType="VARCHAR" />
		<result column="grade_old" property="gradeOld" jdbcType="VARCHAR" />
		<result column="star_detail" property="starDetail" jdbcType="VARCHAR" />
		<result column="star_integral" property="starIntegral" jdbcType="VARCHAR" />
		<result column="skill_detail" property="skillDetail" jdbcType="VARCHAR" />
		<result column="skill_integral" property="skillIntegral" jdbcType="VARCHAR" />
		<result column="fault_detail" property="faultDetail" jdbcType="VARCHAR" />
		<result column="fault_integral" property="faultIntegral" jdbcType="VARCHAR" />
		<result column="project_detail" property="projectDetail" jdbcType="VARCHAR" />
		<result column="project_integral" property="projectIntegral" jdbcType="VARCHAR" />
		<result column="honor_detail" property="honorDetail" jdbcType="VARCHAR" />
		<result column="honor_integral" property="honorIntegral" jdbcType="VARCHAR" />
		<result column="quasirating" property="quasirating" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="DATE" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="modify_date" property="modifyDate" jdbcType="DATE" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id,employee_id,type_of_work,sequence_old,grade_old,star_detail,star_integral,skill_detail,skill_integral
		fault_detail,fault_integral,project_detail,project_integral,honor_detail,honor_integral,quasirating,
		creator, create_date, modifier, modify_date, remarks, del_flag
	</sql>


	<sql id="Query_Params">
		<where>
			del_flag='0'
			<if test="careerInfoQuery.id!=null">
				and id=#{careerInfoQuery.id}
			</if>
			<if test="careerInfoQuery.employeeId!=null">
				and employeeId=#{careerInfoQuery.employeeId}
			</if>
			<if test="careerInfoQuery.typeOfWork!=null and careerInfoQuery.typeOfWork!=''">
				and type_of_work=#{careerInfoQuery.typeOfWork}
			</if>
			<if test="careerInfoQuery.sequenceOld!=null and careerInfoQuery.sequenceOld!=''">
				and sequence_old=#{careerInfoQuery.sequenceOld}
			</if>
			<if test="careerInfoQuery.gradeOld!=null and careerInfoQuery.gradeOld!=''">
				and grade_old=#{careerInfoQuery.gradeOld}
			</if>
			<if test="careerInfoQuery.starDetail!=null and careerInfoQuery.starDetail!=''">
				and star_detail=#{careerInfoQuery.starDetail}
			</if>
			<if test="careerInfoQuery.starDetail!=null and careerInfoQuery.starDetail!=''">
				and star_integral=#{careerInfoQuery.starDetail}
			</if>
			<if test="careerInfoQuery.skillDetail!=null and careerInfoQuery.skillDetail!=''">
				and skill_detail=#{careerInfoQuery.skillDetail}
			</if>
			<if test="careerInfoQuery.skillIntegral!=null and careerInfoQuery.skillIntegral!=''">
				and skill_integral=#{careerInfoQuery.skillIntegral}
			</if>
			<if test="careerInfoQuery.faultDetail!=null and careerInfoQuery.faultDetail!=''">
				and fault_detail=#{careerInfoQuery.faultDetail}
			</if>
			<if test="careerInfoQuery.faultIntegral!=null and careerInfoQuery.faultIntegral!=''">
				and fault_integral=#{careerInfoQuery.faultIntegral}
			</if>
			<if test="careerInfoQuery.projectDetail!=null and careerInfoQuery.projectDetail!=''">
				and project_detail=#{careerInfoQuery.projectDetail}
			</if>
			<if test="careerInfoQuery.projectIntegral!=null and careerInfoQuery.projectIntegral!=''">
				and project_integral=#{careerInfoQuery.projectIntegral}
			</if>
			<if test="careerInfoQuery.honorDetail!=null and careerInfoQuery.honorDetail!=''">
				and honor_detail=#{careerInfoQuery.honorDetail}
			</if>
			<if test="careerInfoQuery.honorIntegral!=null and careerInfoQuery.honorIntegral!=''">
				and honor_integral=#{careerInfoQuery.honorIntegral}
			</if>
			<if test="careerInfoQuery.quasirating!=null and careerInfoQuery.quasirating!=''">
				and quasirating=#{careerInfoQuery.quasirating}
			</if>
			
		</where>
	</sql>

	<sql id="Pagination">
		limit #{pagination.start}, #{pagination.limit}
	</sql>

	<select id="query" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_career_info
		<include refid="Query_Params" />
		<include refid="Pagination" />
	</select>

	<select id="count" resultType="Long">
		SELECT count(*)
		FROM t_career_info
		<include refid="Query_Params" />
	</select>

	<select id="get" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_career_info
		WHERE id = #{id, jdbcType=BIGINT} and del_flag = '0'
	</select>

	<insert id="insert" parameterType="com.railway.labor.career.model.dto.CareerInfoDTO">
		INSERT INTO
		t_career_info
		(name,account,telephone,email,password,creator, create_date, modifier,
		modify_date, remarks, del_flag)
		VALUES
		(#{name},
		#{account},#{telephone},#{email}, '11', #{creator},
		#{createDate},#{modifier}, #{modifyDate},#{remarks},#{delFlag})
	</insert>

	<update id="update" parameterType="com.railway.labor.career.model.dto.CareerInfoDTO">
		UPDATE
		t_career_info
		SET
		name = #{name},
		password = #{password}
		WHERE
		id = #{id} and del_flag = '0'
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		UPDATE
		t_career_info
		SET
		del_flag = '1'
		WHERE
		id =#{id} and del_flag = '0'
	</delete>

</mapper>