<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.railway.labor.career.mapper.EvaluationAbrogateMapper">

	<resultMap id="BaseResultMap" type="com.railway.labor.career.model.dto.EvaluationAbrogateDTO">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="employee_id" property="employeeId" jdbcType="BIGINT" />
		<result column="type_of_work" property="typeOfWork" jdbcType="VARCHAR" />
		<result column="sequence_old" property="sequenceOld" jdbcType="VARCHAR" />
		<result column="grade_old" property="gradeOld" jdbcType="VARCHAR" />
		<result column="star_detail" property="starDetail" jdbcType="VARCHAR" />
		<result column="star_integral" property="starIntegral" jdbcType="VARCHAR" />
		<result column="skill_detail" property="skillDetail" jdbcType="VARCHAR" />
		<result column="skill_integral" property="skillIntegral" jdbcType="VARCHAR" />
		<result column="fault_detail" property="faultDetail" jdbcType="VARCHAR" />
		<result column="fault_integral" property="faultIntegral" jdbcType="VARCHAR" />
		<result column="project_detail" property="projectDetail" jdbcType="VARCHAR" />
		<result column="project_integral" property="projectIntegral" jdbcType="VARCHAR" />
		<result column="honor_detail" property="honorDetail" jdbcType="VARCHAR" />
		<result column="honor_integral" property="honorIntegral" jdbcType="VARCHAR" />
		<result column="quasirating" property="quasirating" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="DATE" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="modify_date" property="modifyDate" jdbcType="DATE" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id,employee_id,type_of_work,sequence_old,grade_old,star_detail,star_integral,skill_detail,skill_integral
		fault_detail,fault_integral,project_detail,project_integral,honor_detail,honor_integral,quasirating,
		,creator, create_date, modifier, modify_date, remarks, del_flag
	</sql>


	<sql id="Query_Params">
		<where>
			del_flag='0'
			<if test="evaluationAbrogateQuery.id!=null">
				and id=#{evaluationAbrogateQuery.id}
			</if>
			<if test="evaluationAbrogateQuery.employee_id!=null">
				and name=#{evaluationAbrogateQuery.employeeId}
			</if>
			<if test="evaluationAbrogateQuery.typeOfWork!=null and evaluationAbrogateQuery.typeOfWork!=''">
				and type_of_work=#{evaluationAbrogateQuery.typeOfWork}
			</if>
			<if test="evaluationAbrogateQuery.sequenceOld!=null and evaluationAbrogateQuery.sequenceOld!=''">
				and sequence_old=#{evaluationAbrogateQuery.sequenceOld}
			</if>
			<if test="evaluationAbrogateQuery.gradeOld!=null and evaluationAbrogateQuery.gradeOld!=''">
				and grade_old=#{evaluationAbrogateQuery.gradeOld}
			</if>
			<if test="evaluationAbrogateQuery.starDetail!=null and evaluationAbrogateQuery.starDetail!=''">
				and star_detail=#{evaluationAbrogateQuery.starDetail}
			</if>
			<if test="evaluationAbrogateQuery.starDetail!=null and evaluationAbrogateQuery.starDetail!=''">
				and star_integral=#{evaluationAbrogateQuery.starDetail}
			</if>
			<if test="evaluationAbrogateQuery.skillDetail!=null and evaluationAbrogateQuery.skillDetail!=''">
				and skill_detail=#{evaluationAbrogateQuery.skillDetail}
			</if>
			<if test="evaluationAbrogateQuery.skillIntegral!=null and evaluationAbrogateQuery.skillIntegral!=''">
				and skill_integral=#{evaluationAbrogateQuery.skillIntegral}
			</if>
			<if test="evaluationAbrogateQuery.faultDetail!=null and evaluationAbrogateQuery.faultDetail!=''">
				and fault_detail=#{evaluationAbrogateQuery.faultDetail}
			</if>
			<if test="evaluationAbrogateQuery.faultIntegral!=null and evaluationAbrogateQuery.faultIntegral!=''">
				and fault_integral=#{evaluationAbrogateQuery.faultIntegral}
			</if>
			<if test="evaluationAbrogateQuery.projectDetail!=null and evaluationAbrogateQuery.projectDetail!=''">
				and project_detail=#{evaluationAbrogateQuery.projectDetail}
			</if>
			<if test="evaluationAbrogateQuery.projectIntegral!=null and evaluationAbrogateQuery.projectIntegral!=''">
				and project_integral=#{evaluationAbrogateQuery.projectIntegral}
			</if>
			<if test="evaluationAbrogateQuery.honorDetail!=null and evaluationAbrogateQuery.honorDetail!=''">
				and honor_detail=#{evaluationAbrogateQuery.honorDetail}
			</if>
			<if test="evaluationAbrogateQuery.honorIntegral!=null and evaluationAbrogateQuery.honorIntegral!=''">
				and honor_integral=#{evaluationAbrogateQuery.honorIntegral}
			</if>
			<if test="evaluationAbrogateQuery.quasirating!=null and evaluationAbrogateQuery.quasirating!=''">
				and quasirating=#{evaluationAbrogateQuery.quasirating}
			</if>
			
		</where>
	</sql>

	<sql id="Pagination">
		limit #{pagination.start}, #{pagination.limit}
	</sql>

	<select id="query" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_evaluation_abrogate
		<include refid="Query_Params" />
		<include refid="Pagination" />
	</select>

	<select id="count" resultType="Long">
		SELECT count(*)
		FROM t_evaluation_abrogate
		<include refid="Query_Params" />
	</select>

	<select id="get" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_evaluation_abrogate
		WHERE id = #{id, jdbcType=BIGINT} and del_flag = '0'
	</select>

	<insert id="insert" parameterType="com.railway.labor.career.model.dto.EvaluationAbrogateDTO">
		INSERT INTO
		t_evaluation_abrogate
		(name,account,telephone,email,password,creator, create_date, modifier,
		modify_date, remarks, del_flag)
		VALUES
		(#{name},
		#{account},#{telephone},#{email}, '11', #{creator},
		#{createDate},#{modifier}, #{modifyDate},#{remarks},#{delFlag})
	</insert>

	<update id="update" parameterType="com.railway.labor.career.model.dto.EvaluationAbrogateDTO">
		UPDATE
		t_evaluation_abrogate
		SET
		name = #{name},
		password = #{password}
		WHERE
		id = #{id} and del_flag = '0'
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		UPDATE
		t_evaluation_abrogate
		SET
		del_flag = '1'
		WHERE
		id =#{id} and del_flag = '0'
	</delete>

</mapper>