<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.railway.labor.career.mapper.EvaluationAbrogateMapper">

	<resultMap id="BaseResultMap"
		type="com.railway.labor.career.model.dto.EvaluationAbrogateDTO">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="employee_id" property="employeeId" jdbcType="BIGINT" />
		<result column="no_comment_condition" property="noCommentCondition" jdbcType="VARCHAR" />
		<result column="evaluate_date" property="evaluateDate" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="DATE" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="modify_date" property="modifyDate" jdbcType="DATE" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, employee_id, no_comment_condition, evaluate_date, creator, create_date, modifier, modify_date, remarks, del_flag
	</sql>

	<sql id="Query_Params">
		<where>
			del_flag='0'
			<if test="evaluationAbrogateQuery.id!=null">
				and id=#{evaluationAbrogateQuery.id}
			</if>
			<if test="evaluationAbrogateQuery.employee_id!=null">
				and name=#{evaluationAbrogateQuery.employeeId}
			</if>
			<if
				test="evaluationAbrogateQuery.typeOfWork!=null and evaluationAbrogateQuery.typeOfWork!=''">
				and type_of_work=#{evaluationAbrogateQuery.typeOfWork}
			</if>
			<if
				test="evaluationAbrogateQuery.sequenceOld!=null and evaluationAbrogateQuery.sequenceOld!=''">
				and sequence_old=#{evaluationAbrogateQuery.sequenceOld}
			</if>
			<if
				test="evaluationAbrogateQuery.gradeOld!=null and evaluationAbrogateQuery.gradeOld!=''">
				and grade_old=#{evaluationAbrogateQuery.gradeOld}
			</if>
			<if
				test="evaluationAbrogateQuery.starDetail!=null and evaluationAbrogateQuery.starDetail!=''">
				and star_detail=#{evaluationAbrogateQuery.starDetail}
			</if>
			<if
				test="evaluationAbrogateQuery.starDetail!=null and evaluationAbrogateQuery.starDetail!=''">
				and star_integral=#{evaluationAbrogateQuery.starDetail}
			</if>
			<if
				test="evaluationAbrogateQuery.skillDetail!=null and evaluationAbrogateQuery.skillDetail!=''">
				and skill_detail=#{evaluationAbrogateQuery.skillDetail}
			</if>
			<if
				test="evaluationAbrogateQuery.skillIntegral!=null and evaluationAbrogateQuery.skillIntegral!=''">
				and skill_integral=#{evaluationAbrogateQuery.skillIntegral}
			</if>
			<if
				test="evaluationAbrogateQuery.faultDetail!=null and evaluationAbrogateQuery.faultDetail!=''">
				and fault_detail=#{evaluationAbrogateQuery.faultDetail}
			</if>
			<if
				test="evaluationAbrogateQuery.faultIntegral!=null and evaluationAbrogateQuery.faultIntegral!=''">
				and fault_integral=#{evaluationAbrogateQuery.faultIntegral}
			</if>
			<if
				test="evaluationAbrogateQuery.projectDetail!=null and evaluationAbrogateQuery.projectDetail!=''">
				and project_detail=#{evaluationAbrogateQuery.projectDetail}
			</if>
			<if
				test="evaluationAbrogateQuery.projectIntegral!=null and evaluationAbrogateQuery.projectIntegral!=''">
				and project_integral=#{evaluationAbrogateQuery.projectIntegral}
			</if>
			<if
				test="evaluationAbrogateQuery.honorDetail!=null and evaluationAbrogateQuery.honorDetail!=''">
				and honor_detail=#{evaluationAbrogateQuery.honorDetail}
			</if>
			<if
				test="evaluationAbrogateQuery.honorIntegral!=null and evaluationAbrogateQuery.honorIntegral!=''">
				and honor_integral=#{evaluationAbrogateQuery.honorIntegral}
			</if>
			<if
				test="evaluationAbrogateQuery.quasirating!=null and evaluationAbrogateQuery.quasirating!=''">
				and quasirating=#{evaluationAbrogateQuery.quasirating}
			</if>

		</where>
	</sql>

	<sql id="Pagination">
		limit #{pagination.start}, #{pagination.limit}
	</sql>

	<select id="query" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_evaluation_abrogate
		<include refid="Query_Params" />
		<include refid="Pagination" />
	</select>

	<select id="count" resultType="Long">
		SELECT count(*)
		FROM t_evaluation_abrogate
		<include refid="Query_Params" />
	</select>

	<select id="get" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_evaluation_abrogate
		WHERE id = #{id, jdbcType=BIGINT} and
		del_flag = '0'
	</select>

	<insert id="insert"
		parameterType="com.railway.labor.career.model.dto.EvaluationAbrogateDTO">
		<selectKey keyProperty="id" resultType="java.lang.Long"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO
		t_evaluation_abrogate
		(employee_id,
		no_comment_condition,evaluate_date, creator, create_date, modifier,
		modify_date, remarks, del_flag)
		VALUES
		(#{employeeId},
		#{noCommentCondition},#{evaluateDate},
		#{creator}, #{createDate},#{modifier}, #{modifyDate},#{remarks},#{delFlag})
	</insert>

	<update id="update"
		parameterType="com.railway.labor.career.model.dto.EvaluationAbrogateDTO">
		UPDATE t_evaluation_abrogate
		<set>
			<if test="employeeId != null">
				employee_id = #{employeeId},
			</if>
			<if test="noCommentCondition != null">
				no_comment_condition = #{noCommentCondition},
			</if>
			<if test="evaluateDate != null">
				evaluate_date = #{evaluateDate},
			</if>
			<if test="creator != null">
				creator = #{creator},
			</if>
			<if test="createDate != null">
				create_date = #{createDate},
			</if>
			<if test="modifier != null">
				modifier = #{modifier},
			</if>
			<if test="modifyDate != null">
				modify_date = #{modifyDate},
			</if>
			<if test="remarks != null">
				remarks = #{remarks},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag},
			</if>
		</set>
		WHERE
		id = #{id} and del_flag = '0'
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		UPDATE
		t_evaluation_abrogate
		SET
		del_flag = '1'
		WHERE
		id =#{id} and del_flag = '0'
	</delete>

</mapper>