<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.railway.labor.career.mapper.EvaluationNormalMapper">

	<resultMap id="BaseResultMap" type="com.railway.labor.career.model.dto.EvaluationNormalDTO">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
		<result column="input_department_id" property="inputDepartmentId" jdbcType="BIGINT" />
		<result column="employee_id" property="employeeId" jdbcType="BIGINT" />
		<result column="score_type" property="scoreType" jdbcType="VARCHAR" />
		<result column="score_name" property="scoreName" jdbcType="VARCHAR" />
		<result column="first_level" property="firstLevel" jdbcType="VARCHAR" />
		<result column="second_level" property="secondLevel" jdbcType="VARCHAR" />
		<result column="score_content" property="scoreContent" jdbcType="VARCHAR" />
		<result column="score" property="score" jdbcType="VARCHAR" />
		<result column="evaluate_date" property="evaluateDate" jdbcType="DATE" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="DATE" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="modify_date" property="modifyDate" jdbcType="DATE" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id,batch_no,input_department_id,employee_id,score_type,score_name,first_level,second_level,score_content,score,evaluate_date,creator, create_date, modifier,
		modify_date, remarks, del_flag
	</sql>

	<sql id="Query_Params">
		<where>
			del_flag='0'
			<if test="evaluationNormalQuery.id!=null">
				and id=#{evaluationNormalQuery.id}
			</if>
			<if test="evaluationNormalQuery.batchNo!=null and evaluationNormalQuery.batchNo!=''">
				and batch_no=#{evaluationNormalQuery.batchNo}
			</if>
			<if test="evaluationNormalQuery.inputDepartmentId!=null">
				and input_department_id=#{evaluationNormalQuery.inputDepartmentId}
			</if>
			<if test="evaluationNormalQuery.employeeId!=null">
				and employee_id=#{evaluationNormalQuery.employeeId}
			</if>
			<if test="evaluationNormalQuery.typeOfWork!=null and evaluationNormalQuery.typeOfWork!=''">
				and type_of_work=#{evaluationNormalQuery.typeOfWork}
			</if>
			<if test="evaluationNormalQuery.sequenceOld!=null and evaluationNormalQuery.sequenceOld!=''">
				and sequence_old=#{evaluationNormalQuery.sequenceOld}
			</if>
			<if test="evaluationNormalQuery.gradeOld!=null and evaluationNormalQuery.gradeOld!=''">
				and grade_old=#{evaluationNormalQuery.gradeOld}
			</if>
			<if test="evaluationNormalQuery.starDetail!=null and evaluationNormalQuery.starDetail!=''">
				and star_detail=#{evaluationNormalQuery.starDetail}
			</if>
			<if test="evaluationNormalQuery.starDetail!=null and evaluationNormalQuery.starDetail!=''">
				and star_integral=#{evaluationNormalQuery.starDetail}
			</if>
			<if test="evaluationNormalQuery.skillDetail!=null and evaluationNormalQuery.skillDetail!=''">
				and skill_detail=#{evaluationNormalQuery.skillDetail}
			</if>
			<if test="evaluationNormalQuery.skillIntegral!=null and evaluationNormalQuery.skillIntegral!=''">
				and skill_integral=#{evaluationNormalQuery.skillIntegral}
			</if>
			<if test="evaluationNormalQuery.faultDetail!=null and evaluationNormalQuery.faultDetail!=''">
				and fault_detail=#{evaluationNormalQuery.faultDetail}
			</if>
			<if test="evaluationNormalQuery.faultIntegral!=null and evaluationNormalQuery.faultIntegral!=''">
				and fault_integral=#{evaluationNormalQuery.faultIntegral}
			</if>
			<if test="evaluationNormalQuery.projectDetail!=null and evaluationNormalQuery.projectDetail!=''">
				and project_detail=#{evaluationNormalQuery.projectDetail}
			</if>
			<if test="evaluationNormalQuery.projectIntegral!=null and evaluationNormalQuery.projectIntegral!=''">
				and project_integral=#{evaluationNormalQuery.projectIntegral}
			</if>
			<if test="evaluationNormalQuery.honorDetail!=null and evaluationNormalQuery.honorDetail!=''">
				and honor_detail=#{evaluationNormalQuery.honorDetail}
			</if>
			<if test="evaluationNormalQuery.honorIntegral!=null and evaluationNormalQuery.honorIntegral!=''">
				and honor_integral=#{evaluationNormalQuery.honorIntegral}
			</if>
			<if test="evaluationNormalQuery.quasirating!=null and evaluationNormalQuery.quasirating!=''">
				and quasirating=#{evaluationNormalQuery.quasirating}
			</if>
			
		</where>
	</sql>

	<sql id="Pagination">
		limit #{pagination.start}, #{pagination.limit}
	</sql>

	<select id="query" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_evaluation_normal
		<include refid="Query_Params" />
		<include refid="Pagination" />
	</select>

	<select id="count" resultType="Long">
		SELECT count(*)
		FROM t_evaluation_normal
		<include refid="Query_Params" />
	</select>

	<select id="get" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_evaluation_normal
		WHERE id = #{id, jdbcType=BIGINT} and del_flag = '0'
	</select>

	<insert id="insert" parameterType="com.railway.labor.career.model.dto.EvaluationNormalDTO">
		<selectKey keyProperty="id" resultType="java.lang.Long"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO
		t_evaluation_normal
		(batch_no,input_department_id,employee_id,score_type,score_name,first_level,second_level,score_content,score,evaluate_date,creator, create_date, modifier,
		modify_date, remarks, del_flag)
		VALUES
		(#{inputDepartmentId},#{batchNo},#{employeeId},#{scoreType},#{scoreName},#{firstLevel},#{secondLevel},#{scoreContent},#{score}, #{evaluateDate}, 
		#{creator},#{createDate},#{modifier}, #{modifyDate},#{remarks},#{delFlag})
	</insert>

	<update id="update"
		parameterType="com.railway.labor.career.model.dto.EvaluationNormalDTO">
		UPDATE t_evaluation_normal
		<set>
			<if test="batchNo != null">
				batch_no = #{batchNo},
			</if>
			<if test="inputDepartmentId != null">
				input_department_id = #{inputDepartmentId},
			</if>
			<if test="employeeId != null">
				employee_id = #{employeeId},
			</if>
			<if test="scoreType != null">
				score_type = #{scoreType},
			</if>
			<if test="scoreName != null">
				score_name = #{scoreName},
			</if>
			<if test="firstLevel != null">
				first_level = #{firstLevel},
			</if>
			<if test="secondLevel != null">
				second_level = #{secondLevel},
			</if>
			<if test="scoreContent != null">
				score_content = #{scoreContent},
			</if>
			<if test="score != null">
				score = #{score},
			</if>
			<if test="evaluateDate != null">
				evaluate_date = #{evaluateDate},
			</if>
			<if test="creator != null">
				creator = #{creator},
			</if>
			<if test="createDate != null">
				create_date = #{createDate},
			</if>
			<if test="modifier != null">
				modifier = #{modifier},
			</if>
			<if test="modifyDate != null">
				modify_date = #{modifyDate},
			</if>
			<if test="remarks != null">
				remarks = #{remarks},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag},
			</if>
		</set>
		WHERE
		id = #{id} and del_flag = '0'
	</update>


	<delete id="delete" parameterType="java.lang.Long">
		UPDATE
		t_evaluation_normal
		SET
		del_flag = '1'
		WHERE
		id =#{id} and del_flag = '0'
	</delete>

</mapper>