<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.railway.labor.career.mapper.PermissionMapper">

	<resultMap id="BaseResultMap" type="com.railway.labor.career.model.dto.PermissionDTO">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="employee_id" property="employeeId" jdbcType="BIGINT" />
		<result column="type_of_work" property="typeOfWork" jdbcType="VARCHAR" />
		<result column="sequence_old" property="sequenceOld" jdbcType="VARCHAR" />
		<result column="grade_old" property="gradeOld" jdbcType="VARCHAR" />
		<result column="star_detail" property="starDetail" jdbcType="VARCHAR" />
		<result column="star_integral" property="starIntegral" jdbcType="VARCHAR" />
		<result column="skill_detail" property="skillDetail" jdbcType="VARCHAR" />
		<result column="skill_integral" property="skillIntegral" jdbcType="VARCHAR" />
		<result column="fault_detail" property="faultDetail" jdbcType="VARCHAR" />
		<result column="fault_integral" property="faultIntegral" jdbcType="VARCHAR" />
		<result column="project_detail" property="projectDetail" jdbcType="VARCHAR" />
		<result column="project_integral" property="projectIntegral" jdbcType="VARCHAR" />
		<result column="honor_detail" property="honorDetail" jdbcType="VARCHAR" />
		<result column="honor_integral" property="honorIntegral" jdbcType="VARCHAR" />
		<result column="quasirating" property="quasirating" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="DATE" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="modify_date" property="modifyDate" jdbcType="DATE" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id,employee_id,type_of_work,sequence_old,grade_old,star_detail,star_integral,skill_detail,skill_integral
		fault_detail,fault_integral,project_detail,project_integral,honor_detail,honor_integral,quasirating,
		,creator, create_date, modifier, modify_date, remarks, del_flag
	</sql>


	<sql id="Query_Params">
		<where>
			del_flag='0'
			<if test="permissionQuery.id!=null">
				and id=#{permissionQuery.id}
			</if>
			<if test="permissionQuery.employee_id!=null">
				and name=#{permissionQuery.employeeId}
			</if>
			<if test="permissionQuery.typeOfWork!=null and permissionQuery.typeOfWork!=''">
				and type_of_work=#{permissionQuery.typeOfWork}
			</if>
			<if test="permissionQuery.sequenceOld!=null and permissionQuery.sequenceOld!=''">
				and sequence_old=#{permissionQuery.sequenceOld}
			</if>
			<if test="permissionQuery.gradeOld!=null and permissionQuery.gradeOld!=''">
				and grade_old=#{permissionQuery.gradeOld}
			</if>
			<if test="permissionQuery.starDetail!=null and permissionQuery.starDetail!=''">
				and star_detail=#{permissionQuery.starDetail}
			</if>
			<if test="permissionQuery.starDetail!=null and permissionQuery.starDetail!=''">
				and star_integral=#{permissionQuery.starDetail}
			</if>
			<if test="permissionQuery.skillDetail!=null and permissionQuery.skillDetail!=''">
				and skill_detail=#{permissionQuery.skillDetail}
			</if>
			<if test="permissionQuery.skillIntegral!=null and permissionQuery.skillIntegral!=''">
				and skill_integral=#{permissionQuery.skillIntegral}
			</if>
			<if test="permissionQuery.faultDetail!=null and permissionQuery.faultDetail!=''">
				and fault_detail=#{permissionQuery.faultDetail}
			</if>
			<if test="permissionQuery.faultIntegral!=null and permissionQuery.faultIntegral!=''">
				and fault_integral=#{permissionQuery.faultIntegral}
			</if>
			<if test="permissionQuery.projectDetail!=null and permissionQuery.projectDetail!=''">
				and project_detail=#{permissionQuery.projectDetail}
			</if>
			<if test="permissionQuery.projectIntegral!=null and permissionQuery.projectIntegral!=''">
				and project_integral=#{permissionQuery.projectIntegral}
			</if>
			<if test="permissionQuery.honorDetail!=null and permissionQuery.honorDetail!=''">
				and honor_detail=#{permissionQuery.honorDetail}
			</if>
			<if test="permissionQuery.honorIntegral!=null and permissionQuery.honorIntegral!=''">
				and honor_integral=#{permissionQuery.honorIntegral}
			</if>
			<if test="permissionQuery.quasirating!=null and permissionQuery.quasirating!=''">
				and quasirating=#{permissionQuery.quasirating}
			</if>
			
		</where>
	</sql>

	<sql id="Pagination">
		limit #{pagination.start}, #{pagination.limit}
	</sql>

	<select id="query" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_career_info
		<include refid="Query_Params" />
		<include refid="Pagination" />
	</select>

	<select id="count" resultType="Long">
		SELECT count(*)
		FROM t_career_info
		<include refid="Query_Params" />
	</select>

	<select id="get" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_career_info
		WHERE id = #{id, jdbcType=BIGINT} and del_flag = '0'
	</select>

	<insert id="insert" parameterType="com.railway.labor.career.model.dto.PermissionDTO">
		INSERT INTO
		t_career_info
		(name,account,telephone,email,password,creator, create_date, modifier,
		modify_date, remarks, del_flag)
		VALUES
		(#{name},
		#{account},#{telephone},#{email}, '11', #{creator},
		#{createDate},#{modifier}, #{modifyDate},#{remarks},#{delFlag})
	</insert>

	<update id="update" parameterType="com.railway.labor.career.model.dto.PermissionDTO">
		UPDATE
		t_career_info
		SET
		name = #{name},
		password = #{password}
		WHERE
		id = #{id} and del_flag = '0'
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		UPDATE
		t_career_info
		SET
		del_flag = '1'
		WHERE
		id =#{id} and del_flag = '0'
	</delete>

</mapper>