<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.railway.labor.career.mapper.RoleMapper">

	<resultMap id="BaseResultMap" type="com.railway.labor.career.model.dto.RoleDTO">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="employee_id" property="employeeId" jdbcType="BIGINT" />
		<result column="type_of_work" property="typeOfWork" jdbcType="VARCHAR" />
		<result column="sequence_old" property="sequenceOld" jdbcType="VARCHAR" />
		<result column="grade_old" property="gradeOld" jdbcType="VARCHAR" />
		<result column="star_detail" property="starDetail" jdbcType="VARCHAR" />
		<result column="star_integral" property="starIntegral" jdbcType="VARCHAR" />
		<result column="skill_detail" property="skillDetail" jdbcType="VARCHAR" />
		<result column="skill_integral" property="skillIntegral" jdbcType="VARCHAR" />
		<result column="fault_detail" property="faultDetail" jdbcType="VARCHAR" />
		<result column="fault_integral" property="faultIntegral" jdbcType="VARCHAR" />
		<result column="project_detail" property="projectDetail" jdbcType="VARCHAR" />
		<result column="project_integral" property="projectIntegral" jdbcType="VARCHAR" />
		<result column="honor_detail" property="honorDetail" jdbcType="VARCHAR" />
		<result column="honor_integral" property="honorIntegral" jdbcType="VARCHAR" />
		<result column="quasirating" property="quasirating" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="DATE" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="modify_date" property="modifyDate" jdbcType="DATE" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id,employee_id,type_of_work,sequence_old,grade_old,star_detail,star_integral,skill_detail,skill_integral
		fault_detail,fault_integral,project_detail,project_integral,honor_detail,honor_integral,quasirating,
		,creator, create_date, modifier, modify_date, remarks, del_flag
	</sql>


	<sql id="Query_Params">
		<if test="roleQuery.userId!=null">
				INNER JOIN t_role on  t_career_info.employee_id = t_user_role.userId
		</if>
		<where>
			del_flag='0'
			<if test="roleQuery.id!=null">
				and id=#{roleQuery.id}
			</if>
			
			<if test="roleQuery.parentId!=null">
				and parent_id=#{roleQuery.parentId}
			</if>
			<if test="roleQuery.name!=null and roleQuery.name!=''">
				and name like "%"#{roleQuery.name}"%"
			</if>
			<if test="roleQuery.descr!=null and roleQuery.descr!=''">
				and descr like "%"#{roleQuery.descr}"%"
			</if>
		</where>
	</sql>

	<sql id="Pagination">
		limit #{pagination.start}, #{pagination.limit}
	</sql>


	<select id="queryByUserId" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_user_role
		<include refid="Query_Params" />
		<include refid="Pagination" />
	</select>

	<select id="query" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_career_info
		<include refid="Query_Params" />
		<include refid="Pagination" />
	</select>

	<select id="count" resultType="Long">
		SELECT count(*)
		FROM t_career_info
		<include refid="Query_Params" />
	</select>

	<select id="get" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_career_info
		WHERE id = #{id, jdbcType=BIGINT} and del_flag = '0'
	</select>

	<insert id="insert" parameterType="com.railway.labor.career.model.dto.RoleDTO">
		INSERT INTO
		t_career_info
		(name,account,telephone,email,password,creator, create_date, modifier,
		modify_date, remarks, del_flag)
		VALUES
		(#{name},
		#{account},#{telephone},#{email}, '11', #{creator},
		#{createDate},#{modifier}, #{modifyDate},#{remarks},#{delFlag})
	</insert>

	<update id="update" parameterType="com.railway.labor.career.model.dto.RoleDTO">
		UPDATE
		t_career_info
		SET
		name = #{name},
		password = #{password}
		WHERE
		id = #{id} and del_flag = '0'
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		UPDATE
		t_career_info
		SET
		del_flag = '1'
		WHERE
		id =#{id} and del_flag = '0'
	</delete>

</mapper>